<h1>$client.getName()</h1>

<h2>Age:</h2>
<p> $client.getAge() </p>
<h2> Email: </h2>
<p> $client.getEmail()</p>
<h2>Phone:</h2>
<p> $client.getPhone()</p>
<h2>Appointment</h2>
<p>$client.getAppointment()</p>


<a href="/stylist/$client.getStylistId()/client/$client.getId()/edit">edit</a>

<h4><a href="/">Home</a></h4>
<h4><a href="/stylist/$client.getStylistId()/clients">Back to Stylist</a></h4>
