<h1>$stylist.getName()</h1>

#if(!$clients.isEmpty())
  <ul>
    #foreach($client in $clients)
      <li><a href="/stylist/$stylist.getId()/client/$client.getId()">$client.getName()</a></li>
    #end
  </ul>
#else
 <p>
   error
 </p>
#end

<h2>Age:</h2>
<p>$stylist.getAge()</p>
<h2> Email: </h2>
<p> $stylist.getEmail()</p>
<h2>Phone:</h2>
<p> $stylist.getPhone()</p>



<a href="/stylist/$stylist.getId()/edit">Edit</a>


<h4><a href="/">Home</a></h4>
